%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to ApplicationHelper::APP_NAME, root_path, id: "logo"
    - if user_signed_in?
      %ul.nav-justify-content-end
        %li.nav-item
          = link_to "プロフィール編集", edit_user_registration_path, class: "nav-link text-secondary"
        %li.nav-item
          = link_to "ログアウト", destroy_user_session_path, metnod: :delete, class: "nav-link text-secondary"